<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gallery">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gallery"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gallery">
        <activity android:name=".ByPeopleActivity"></activity>
        <activity android:name=".VideoByDateActivity" />
        <activity android:name=".DetailsScreen" />
        <activity android:name=".VideoDetailsScreen" />
        <activity android:name=".ByDateActivity" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoPlayActivity" />
        <activity android:name=".FullScreenActivity" />
        <activity android:name=".LoggedSecurityViewActivity" />
        <activity android:name=".VideoViewActivity" />
        <activity android:name=".FavoriteViewActivity" />
        <activity android:name=".SecurityViewActivity" />
        <activity android:name=".LocationViewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>